<suite name="Sanity Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="com.basicsetup.utils.Listeners"/>
    </listeners>
 <test name="Sanity Test">
<!--        <groups>-->
<!--            <run>-->
<!--                <exclude name="sanity"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="com.basicsetup.GetApi"/>
            <class name="com.basicsetup.PostApi"/>
            <class name="com.basicsetup.PutApi"/>
        </classes>
    </test>
</suite>